{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/story.css' %}">

</head>

<body>
<div class="Nav">
<a href="{% url 'homepage' %}"><h1>My Site</h1></a>
<div class="account">
	{% if user.is_authenticated %}
	{% firstof user.get_short_name user.get_username %}
	{% else %} 
	<a href="{% url 'login' %}"> Login </a>   
 	{% endif %}
</div>
<div class="round_menu">
<a href="{% url 'about' %}">
<div class="menu">
<p> About</p>
</div>
</a>
<a href="{% url 'gallery' %}">
<div class="menu">
<p> Gallery </p>
</div>
</a>
<a href="{% url 'story' %}">
<div class="menu">
<p> Story </p>
</div>
</a>
</div>
</div>

<div class="baka">

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'new_story' %}" class="top-menu"> Write A Story </a>
{% endif %}
<h2> Stories </h2>
<hr>
{% for post in posts %}
 <div class="story">
 <h3><a href={% url 'story_detail' pk=post.pk %}>{{ post.title }}</a></h3>

	{% if user.is_authenticated %}
	<a class="edit_btn" href="{% url 'edit_story' pk=post.pk %}"><span>Edit</span></a>
	{% endif %}

	{% if post.posted_date %}
	<div class="writer">  Written By : {{ post.writer }} </div> 
        <div class="date">  On {{ post.posted_date }} </div>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
 </div>

{% endfor %}

{% endblock %}

</div>
</body>
</html>

